:root {
  /* less可以定义变量以此重复调用设置主题颜色 */
  /* 主题色 */
  --primary-color: #ff9854;
  /* 主题渐变色 */
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);
  
  /* 全局修改: 任何地方只要用到-van-tabbar-item-icon-size都会被修改掉 */
  /* --van-tabbar-item-icon-size: 30px !important; */

  /* 全局修改搜索框的样式 强制生效*/
  --van-search-left-icon-color: var(--primary-color) !important;
  /* 详情页的主题色修改 */
  --van-primary-color: var(--primary-color);

  
}

body {
  font-size: 14px;
  background-color: #f7f8fb;
  /* background-image: url(../img/home/home_background02.jpg);
  background-size: cover; */
}

/* 底部灰线 可加*/
.bottom-gray-line {
  border-bottom: 1px solid var(--line-color);
}

/* 详情页面的图标展示 */
.icon_check{
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../img/detail/icon_check.png) 0 0 / 100% 100%;
}




